In [1]:
import pandas as pd
##https://www.runoob.com/pandas/pandas-series.html

In [5]:
###pandas核心数据结构
## Series,类似一位数组,但可以自己命名index
a = pd.Series([1, 2, 3], index=['a', 'b', 'c'], dtype='float')
a

a    1.0
b    2.0
c    3.0
dtype: float64

In [61]:
b = pd.Series(['a', 'b', 'c'], index=[100, 101, 102])
b
c = pd.Series(['a', 'b', 'c'])
c
c.index = ['a', 'b', 'c']
c
data = {'a': 0, 'b': 1.0, 'c': 2.0}
e = pd.Series(data)
e
f = pd.Series(['a', 'b', 'c'], index=['a', 'b', 'c'], name='f col')
f
f.name = 'F_COL'
f

a    a
b    b
c    c
Name: F_COL, dtype: object

In [34]:
## 访问
data = pd.array(['Tom','Lily','Jerry','LiLei'])
s = pd.Series(data)
print(s, s[0], s.index, type(s[0]), s.dtype)
s.index = ['T', 'L', 'J', 'LI']
print(s['J']) ## 通过指定的索引
print(s.iloc[0]) ## 通过数字索引
print(s[['T', 'L', 'J']]) ## 访问多个元素
print(s[:2]) ## 用切片访问,代表是使用iloc的方式进行访问的,因为只有iloc才会从默认索引开始
print(s[::-1])
# print(s[0]) ##报错To access a value by position, use `ser.iloc[pos]`

0      Tom
1     Lily
2    Jerry
3    LiLei
dtype: string Tom RangeIndex(start=0, stop=4, step=1) <class 'str'> string
Jerry
Tom
T      Tom
L     Lily
J    Jerry
dtype: string
T     Tom
L    Lily
dtype: string
LI    LiLei
J     Jerry
L      Lily
T       Tom
dtype: string
Tom

/var/folders/kw/ysl7ggsn6wz6r9ms_r7scdgh0000gn/T/ipykernel_69617/677482875.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [79]:
## pandas对日期的处理
dates = pd.Series([
    # '2011',
    # '2011-02',
    '2022-02-11',
    '2023-01-01',
    '2023-01-10',
    # '2022/02/01',
    # '2022-02-11 12:10:23',
    # '01 Jun 2022'
])
print(dates, dates.dtype)
# dates.astype('datetime64[ns]') ##不会生效
# print(dates[1], type(dates[1])) ##还是str
date2 = pd.to_datetime(dates)
print(date2)
delta = date2 - pd.to_datetime('2022-02-10')
print(delta, type(delta))

## 通过dt接口,访问偏移量数据
print(delta.dt.days)
print(delta.dt.seconds)

## dt接口访问年份
print(date2.dt.year)
print(date2.dt.month)
print(date2.dt.day)
print(date2.dt.weekday)

0    2022-02-11
1    2023-01-01
2    2023-01-10
dtype: object object
0   2022-02-11
1   2023-01-01
2   2023-01-10
dtype: datetime64[ns]
0     1 days
1   325 days
2   334 days
dtype: timedelta64[ns] <class 'pandas.core.series.Series'>
0      1
1    325
2    334
dtype: int64
0    0
1    0
2    0
dtype: int32
0    2022
1    2023
2    2023
dtype: int32
0    2
1    1
2    1
dtype: int32
0    11
1     1
2    10
dtype: int32
0    4
1    6
2    1
dtype: int32

In [108]:
## 日期索引
## periods -- 个数
## freq -- 频率
datelist = pd.date_range('2022-02-11', periods=15, freq='ME')
datelist, type(datelist)

start = pd.to_datetime('2022-02-11')
end = '2022-12-01'
datelist2 = pd.date_range(start=start, periods=15, freq='D')
datelist2
datelist3 = pd.date_range('2022-02-11', '2022-03-11', freq='D')
# print(datelist3, type(datelist3))
# print(dir(datelist3))

pd.Series([i for i in range(len(datelist3))], index=datelist3, name='index')

pd.Series(datelist3, name='dates')
abc = pd.Series(datelist3)
print(abc.dt.day)

# pd.date_range('2022/02/01', '2022/02/28', freq='D')
# pd.to_datetime('2022/02/01')
# pd.to_datetime('2022-02-23')
# pd.to_datetime('2022-03-01 12:23:01')
# pd.to_datetime('2022/03/01 12:23:01')

0     11
1     12
2     13
3     14
4     15
5     16
6     17
7     18
8     19
9     20
10    21
11    22
12    23
13    24
14    25
15    26
16    27
17    28
18     1
19     2
20     3
21     4
22     5
23     6
24     7
25     8
26     9
27    10
28    11
dtype: int32

In [122]:
### datetime.dt.day   delta.dt.days
### https://pandas.pydata.org/docs/user_guide/timeseries.html#time-date-components
dt1 = pd.Series(pd.date_range('2022-02-01', '2022-02-28', freq='D'))
print(dt1, dt1.dt.year, dt1.dt.day, dt1.dt.weekday, sep='\n-------')
print('**'*30)


## 时间差没有hours,minutes等
delta1 = dt1 - pd.to_datetime('2022-02-05')
print(delta1, delta1.dt.days, delta1.dt.seconds, delta1.dt.microseconds)


###https://pandas.pydata.org/docs/user_guide/timedeltas.html#timedeltaindex
delta2 = pd.timedelta_range(start="1 days", end="2 days", freq="30min")
delta2

0    2022-02-01
1    2022-02-02
2    2022-02-03
3    2022-02-04
4    2022-02-05
5    2022-02-06
6    2022-02-07
7    2022-02-08
8    2022-02-09
9    2022-02-10
10   2022-02-11
11   2022-02-12
12   2022-02-13
13   2022-02-14
14   2022-02-15
15   2022-02-16
16   2022-02-17
17   2022-02-18
18   2022-02-19
19   2022-02-20
20   2022-02-21
21   2022-02-22
22   2022-02-23
23   2022-02-24
24   2022-02-25
25   2022-02-26
26   2022-02-27
27   2022-02-28
dtype: datetime64[ns]
-------0     2022
1     2022
2     2022
3     2022
4     2022
5     2022
6     2022
7     2022
8     2022
9     2022
10    2022
11    2022
12    2022
13    2022
14    2022
15    2022
16    2022
17    2022
18    2022
19    2022
20    2022
21    2022
22    2022
23    2022
24    2022
25    2022
26    2022
27    2022
dtype: int32
-------0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
dtype: int32
-------0     1
1     2
2     3
3     4
4     5
5     6
6     0
7     1
8     2
9     3
10    4
11    5
12    6
13    0
14    1
15    2
16    3
17    4
18    5
19    6
20    0
21    1
22    2
23    3
24    4
25    5
26    6
27    0
dtype: int32
************************************************************
0    -4 days
1    -3 days
2    -2 days
3    -1 days
4     0 days
5     1 days
6     2 days
7     3 days
8     4 days
9     5 days
10    6 days
11    7 days
12    8 days
13    9 days
14   10 days
15   11 days
16   12 days
17   13 days
18   14 days
19   15 days
20   16 days
21   17 days
22   18 days
23   19 days
24   20 days
25   21 days
26   22 days
27   23 days
dtype: timedelta64[ns] 0     -4
1     -3
2     -2
3     -1
4      0
5      1
6      2
7      3
8      4
9      5
10     6
11     7
12     8
13     9
14    10
15    11
16    12
17    13
18    14
19    15
20    16
21    17
22    18
23    19
24    20
25    21
26    22
27    23
dtype: int64 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
dtype: int32 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
dtype: int32

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
               '2025-01-13', '2025-01-14', '2025-01-15'],
              dtype='datetime64[ns]', freq='D')

In [125]:
pd.bdate_range('2025-01-01', periods=15, freq='D')
pd.date_range(end='2025-01-01', periods=15, freq='D')
pd.date_range(start='2025-01-01', periods=15, freq='D')

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
               '2025-01-13', '2025-01-14', '2025-01-15'],
              dtype='datetime64[ns]', freq='D')

In [126]:
pd.Series(5, index=pd.date_range('2025-01-01', periods=15, freq='D'))

2025-01-01    5
2025-01-02    5
2025-01-03    5
2025-01-04    5
2025-01-05    5
2025-01-06    5
2025-01-07    5
2025-01-08    5
2025-01-09    5
2025-01-10    5
2025-01-11    5
2025-01-12    5
2025-01-13    5
2025-01-14    5
2025-01-15    5
Freq: D, dtype: int64

In [135]:
### DataFrame
import numpy as np
df = pd.DataFrame({
    'date': pd.date_range('2025-01-01', periods=15, freq='D'),
    'prices': np.random.randn(15),
})
### inplace加上后,就会删掉原来的索引,reset_index就不能恢复了
df = df.set_index('date')
print(df)
df = df.reset_index()
print(df)

              prices
date
2025-01-01 -0.560760
2025-01-02 -1.252090
2025-01-03 -1.192701
2025-01-04 -0.833810
2025-01-05 -1.798669
2025-01-06  0.108144
2025-01-07 -0.122237
2025-01-08 -0.996313
2025-01-09  0.904344
2025-01-10  0.025096
2025-01-11  1.549105
2025-01-12 -0.016132
2025-01-13  0.777906
2025-01-14 -3.069661
2025-01-15  1.099062
         date    prices
0  2025-01-01 -0.560760
1  2025-01-02 -1.252090
2  2025-01-03 -1.192701
3  2025-01-04 -0.833810
4  2025-01-05 -1.798669
5  2025-01-06  0.108144
6  2025-01-07 -0.122237
7  2025-01-08 -0.996313
8  2025-01-09  0.904344
9  2025-01-10  0.025096
10 2025-01-11  1.549105
11 2025-01-12 -0.016132
12 2025-01-13  0.777906
13 2025-01-14 -3.069661
14 2025-01-15  1.099062

In [147]:
data = [['Alex', 10], ['Tom', 12], ['Jerry', 13]]
df = pd.DataFrame(data, columns=['name', 'age'])
print(df, df.dtypes, sep='\n')

print('**'*30)
df = pd.DataFrame(data, columns=['name', 'age'])
## 修改数据类型
df[["age"]] = df[['age']].astype(float)
print(df, df.dtypes, sep='\n')

    name  age
0   Alex   10
1    Tom   12
2  Jerry   13
name    object
age      int64
dtype: object
************************************************************
    name   age
0   Alex  10.0
1    Tom  12.0
2  Jerry  13.0
name     object
age     float64
dtype: object

In [153]:
data = {
    'name': ['Tom', 'Jerry', 'Lily'],
    'age': [10, 20, 30],
}
df = pd.DataFrame(data, index=['a', 'b', 'c'])
print(df, sep='\n')

df = pd.DataFrame(data, index=pd.date_range('2022-01-01', periods=3, freq='D'))
print(df, sep='\n')

# error
# df = pd.DataFrame(
#     {
#         "name": pd.Series(['Tom', 'Jerry', 'Lily'], index=['a', 'b', 'c']),
#         "age": [10, 20, 30, 40],
#     }
# )
# print(df, sep='\n')

### 对不齐,如果都是Series不报错,填Nan,如果是[],则报错长度不一样
### 若索引不一样,也不会匹配,其他列补充Nan
df = pd.DataFrame(
    {
        "name": pd.Series(['Tom', 'Jerry', 'Lily'], index=['a', 'b', 'c']),
        "age": pd.Series([10, 20, 30, 40], index=['a', 'b', 'e', 'd']),
    }
)
print(df, sep='\n')

    name  age
a    Tom   10
b  Jerry   20
c   Lily   30
             name  age
2022-01-01    Tom   10
2022-01-02  Jerry   20
2022-01-03   Lily   30
    name   age
a    Tom  10.0
b  Jerry  20.0
c   Lily   NaN
d    NaN  40.0
e    NaN  30.0

In [154]:
## 列访问
df['age']

a    10.0
b    20.0
c     NaN
d    40.0
e    30.0
Name: age, dtype: float64

In [166]:
# df[['name', 'age']]
df[:]
df[2:]['name']
df[2:][['name', 'age']]

   name   age
c  Lily   NaN
d   NaN  40.0
e   NaN  30.0

In [183]:
## 列添加
df['sex'] = [True, False, True, False, True]
df
### 这样是插入不了的,因为索引没有匹配上
df['score'] = pd.Series([100, 101, 102, 103, 104], index=['a', 'b', 'c', 'd', 'e'])
df


### 没有指定索引列,所以默认添加的时候,就可以直接匹配匹配上了
dd = pd.DataFrame({
    "name": ["Tom", "Jerry", "Lily"],
    "age": [10, 20, 30],
})
dd['score'] = pd.Series([100, 101, 102])
print(dd)

dd2 = dd.drop(1)
print(dd2)
## 默认索引匹配
dd2['sex'] = pd.Series([True, False, True])
print(dd2)
dd2 = dd2.reset_index()
print(dd2)
### 重置索引后,按顺序匹配
dd2['hobby'] = pd.Series(['basketball', 'football', 'pingpong'])
print(dd2)

    name  age  score
0    Tom   10    100
1  Jerry   20    101
2   Lily   30    102
   name  age  score
0   Tom   10    100
2  Lily   30    102
   name  age  score   sex
0   Tom   10    100  True
2  Lily   30    102  True
   index  name  age  score   sex
0      0   Tom   10    100  True
1      2  Lily   30    102  True
   index  name  age  score   sex       hobby
0      0   Tom   10    100  True  basketball
1      2  Lily   30    102  True    football

In [196]:
dd2.index = ['a', 'b']
dd2.loc[['a', 'b']]

   index  name  age  score   sex       hobby
a      0   Tom   10    100  True  basketball
b      2  Lily   30    102  True    football

### Pandas 数据结构 - DataFrame

DataFrame 是 Pandas 中的另一个核心数据结构，类似于一个二维的表格或数据库中的数据表。

DataFrame 是一个表格型的数据结构，它含有一组有序的列，每列可以是不同的值类型（数值、字符串、布尔型值）。

DataFrame 既有行索引也有列索引，它可以被看做由 Series 组成的字典（共同用一个索引）。

DataFrame 提供了各种功能来进行数据访问、筛选、分割、合并、重塑、聚合以及转换等操作。

DataFrame 是一个非常灵活且强大的数据结构，广泛用于数据分析、清洗、转换、可视化等任务。

## DataFrame 特点：

- 二维结构： DataFrame 是一个二维表格，可以被看作是一个 Excel 电子表格或 SQL 表，具有行和列。可以将其视为多个 Series 对象组成的字典。

- 列的数据类型： 不同的列可以包含不同的数据类型，例如整数、浮点数、字符串或 Python 对象等。

- 索引：DataFrame 可以拥有行索引和列索引，类似于 Excel 中的行号和列标。

- 大小可变：可以添加和删除列，类似于 Python 中的字典。

- 自动对齐：在进行算术运算或数据对齐操作时，DataFrame 会自动对齐索引。

- 处理缺失数据：DataFrame 可以包含缺失数据，Pandas 使用 NaN（Not a Number）来表示。

- 数据操作：支持数据切片、索引、子集分割等操作。

- 时间序列支持：DataFrame 对时间序列数据有特别的支持，可以轻松地进行时间数据的切片、索引和操作。

- 丰富的数据访问功能：通过 .loc、.iloc 和 .query() 方法，可以灵活地访问和筛选数据。

- 灵活的数据处理功能：包括数据合并、重塑、透视、分组和聚合等。

- 数据可视化：虽然 DataFrame 本身不是可视化工具，但它可以与 Matplotlib 或 Seaborn 等可视化库结合使用，进行数据可视化。

- 高效的数据输入输出：可以方便地读取和写入数据，支持多种格式，如 CSV、Excel、SQL 数据库和 HDF5 格式。

- 描述性统计：提供了一系列方法来计算描述性统计数据，如 .describe()、.mean()、.sum() 等。

- 灵活的数据对齐和集成：可以轻松地与其他 DataFrame 或 Series 对象进行合并、连接或更新操作。

- 转换功能：可以对数据集中的值进行转换，例如使用 .apply() 方法应用自定义函数。

- 滚动窗口和时间序列分析：支持对数据集进行滚动窗口统计和时间序列分析。

![1](../images/pandas-DataStructure.png)
![2](../images/df-dp.png)

以下是一个表格，列出了 Python 中 Pandas 库中常见的 DataFrame 方法及其功能描述。为了满足你的需求，我尽量全面地列出方法，并以简洁的方式说明其用途：

| **方法**            | **功能描述**                                                                 |
|---------------------|------------------------------------------------------------------------------|
| `head(n)`           | 返回前 n 行数据，默认 n=5                                                   |
| `tail(n)`           | 返回最后 n 行数据，默认 n=5                                                 |
| `info()`            | 显示 DataFrame 的结构信息（如列名、数据类型、非空值计数）                    |
| `describe()`        | 生成数值列的统计信息（如计数、均值、标准差、最小值、最大值）                |
| `shape`             | 返回 DataFrame 的形状（行数, 列数），属性而非方法                           |
| `columns`           | 返回所有列名，属性而非方法                                                 |
| `index`             | 返回索引，属性而非方法                                                     |
| `loc[]`             | 通过标签（行名或列名）访问数据                                              |
| `iloc[]`            | 通过整数位置访问数据                                                       |
| `at[]`              | 通过标签快速访问单个值                                                     |
| `iat[]`             | 通过整数位置快速访问单个值                                                 |
| `drop(labels, axis)`| 删除指定行或列（axis=0 为行，axis=1 为列）                                 |
| `dropna()`          | 删除包含缺失值（NaN）的行或列                                              |
| `fillna(value)`     | 用指定值填充缺失值（NaN）                                                  |
| `isnull()`          | 返回布尔 DataFrame，标记缺失值位置                                         |
| `notnull()`         | 返回布尔 DataFrame，标记非缺失值位置                                       |
| `groupby(by)`       | 按指定列分组，可结合聚合函数（如 mean(), sum()）使用                        |
| `merge(right, on)`  | 合并两个 DataFrame，基于指定列                                             |
| `join(other)`       | 通过索引合并两个 DataFrame                                                 |
| `concat(objs)`      | 沿指定轴（行或列）拼接多个 DataFrame，静态方法                              |
| `append()`          | (已弃用，推荐用 concat) 沿行追加数据                                       |
| `sort_values(by)`   | 按指定列排序                                                               |
| `sort_index()`      | 按索引排序                                                                 |
| `apply(func)`       | 对行或列应用自定义函数                                                     |
| `map(func)`         | 对 Series 对象应用函数（常用于单列）                                       |
| `applymap(func)`    | 对 DataFrame 的每个元素应用函数                                            |
| `pivot(index, columns, values)` | 创建透视表                                                     |
| `pivot_table()`     | 创建带聚合功能的透视表（如均值、总和等）                                   |
| `melt()`            | 将宽格式转换为长格式                                                       |
| `transpose()`       | 转置 DataFrame（行列互换）                                                 |
| `T`                 | 转置 DataFrame 的属性形式                                                  |
| `sum()`             | 计算列或行的总和                                                           |
| `mean()`            | 计算列或行的均值                                                           |
| `std()`             | 计算列或行的标准差                                                         |
| `min()`             | 返回列或行的最小值                                                         |
| `max()`             | 返回列或行的最大值                                                         |
| `count()`           | 返回列或行的非空值计数                                                     |
| `value_counts()`    | 统计某列中唯一值的出现次数（适用于 Series）                                 |
| `unique()`          | 返回某列的唯一值数组（适用于 Series）                                       |
| `nunique()`         | 返回某列唯一值的数量                                                       |
| `replace(to_replace, value)` | 替换指定值                                                |
| `rename(columns)`   | 重命名列名                                                                 |
| `astype(dtype)`     | 转换列的数据类型                                                           |
| `to_csv()`          | 将 DataFrame 保存为 CSV 文件                                               |
| `to_excel()`        | 将 DataFrame 保存为 Excel 文件                                             |
| `plot()`            | 生成简单的图表（需配合 Matplotlib）                                        |

### 说明：
1. **属性 vs 方法**：像 `shape`、`columns`、`index` 是属性，直接访问无需括号；其他为方法，需加括号调用。
2. **聚合函数**：如 `sum()`、`mean()` 等，通常与 `groupby()` 或直接对 DataFrame 使用。
3. **数据操作**：如 `loc[]`、`iloc[]` 用于定位，`drop()`、`fillna()` 用于清洗数据。
4. **高级功能**：如 `pivot()`、`melt()` 用于数据重塑，`merge()`、`join()` 用于合并。

如果你需要更详细的解释某个方法（比如用法或示例代码），或者想扩展表格内容，请告诉我！

在 Python 的 pandas 库中，`DataFrame` 是一种功能强大的二维数据结构，提供了丰富的方法和属性来支持数据操作和分析。以下是对 `DataFrame` 方法的详细分类和描述：

**1. 构造函数：**

- `pd.DataFrame(data, index, columns, dtype, copy)`：创建一个 DataFrame 对象，支持自定义数据、索引、列名和数据类型。

**2. 属性和基础数据：**

- `df.index`：返回 DataFrame 的行索引。
- `df.columns`：返回 DataFrame 的列标签。
- `df.dtypes`：返回每列的数据类型。
- `df.values`：以二维 NumPy 数组的形式返回 DataFrame 的数据部分。
- `df.axes`：返回行索引和列名的列表。
- `df.ndim`：返回 DataFrame 的维度数（始终为 2）。
- `df.size`：返回 DataFrame 中元素的总数。
- `df.shape`：返回 DataFrame 的形状（行数，列数）。
- `df.memory_usage([index, deep])`：返回每列的内存使用情况（以字节为单位）。
- `df.empty`：指示 DataFrame 是否为空。
- `df.T`：返回 DataFrame 的转置。

**3. 数据查看与基本信息：**

- `df.head([n])`：返回前 n 行数据，默认前 5 行。
- `df.tail([n])`：返回后 n 行数据，默认后 5 行。
- `df.info()`：打印 DataFrame 的简要信息，包括索引、列、数据类型和内存使用情况。
- `df.describe([percentiles, include, exclude])`：生成描述性统计信息，包括计数、均值、标准差、最小值、四分位数和最大值。

**4. 数据选取与过滤：**

- `df['column_name']`：选取名为 `column_name` 的列，返回一个 Series。
- `df[['col1', 'col2']]`：选取多个列，返回一个新的 DataFrame。
- `df.loc[row_indexer, col_indexer]`：通过标签选取数据。
- `df.iloc[row_indexer, col_indexer]`：通过位置选取数据。
- `df.at[row_label, column_label]`：访问指定行和列标签的单个值。
- `df.iat[row_position, column_position]`：访问指定行和列位置的单个值。
- `df.filter([items, like, regex, axis])`：根据指定的条件过滤行或列。
- `df.query(expr)`：使用布尔表达式查询 DataFrame 的行。

**5. 数据清洗与处理：**

- `df.dropna([axis, how, thresh, subset, inplace])`：删除包含缺失值的行或列。
- `df.fillna(value, [method, axis, inplace, limit, downcast])`：用指定的值或方法填充缺失值。
- `df.replace(to_replace, value, [inplace, limit, regex, method])`：替换 DataFrame 中的指定值。
- `df.rename([mapper, index, columns, axis, copy, inplace, level, errors])`：重命名行索引或列名。
- `df.drop(labels, [axis, index, columns, level, inplace, errors])`：删除指定的行或列。
- `df.duplicated([subset, keep])`：返回布尔 Series，指示是否存在重复行。
- `df.drop_duplicates([subset, keep, inplace])`：删除重复的行。

**6. 数据转换：**

- `df.astype(dtype, [copy, errors])`：将 DataFrame 转换为指定的数据类型。
- `df.convert_dtypes([infer_objects, convert_string, convert_integer, convert_boolean, convert_floating])`：将列转换为最佳可能的数据类型。
- `df.infer_objects([copy])`：尝试为对象列推断更具体的数据类型。
- `df.copy([deep])`：复制 DataFrame。
- `df.to_numpy([dtype, copy, na_value])`：将 DataFrame 转换为 NumPy 数组。
- `df.to_dict([orient, into])`：将 DataFrame 转换为字典。

**7. 数据统计与聚合：**

- `df.count([axis, level, numeric_only])`：计算每列的非 NA/null 值的数量。
- `df.sum([axis, skipna, level, numeric_only, min_count])`：计算每列的和。
- `df.mean([axis, skipna, level, numeric_only])`：计算每列的均值。
- `df.median([axis, skipna, level, numeric_only])`：计算每列的中位数。
- `df.min([axis, skipna, level, numeric_only])`：计算每列的最小值。
- `df.max([axis, skipna, level, numeric_only])`：计算